@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* global reset */
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  list-style: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  line-height: 1;
}

/* Default tweaks */
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 1.8rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #45525b;
}
[class*="__container"] {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
[class*="__section"] {
  padding: 10rem 0;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

[class*="__title"] {
  color: #45525b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  margin-right: 1.6rem;
}
[class*="__center-title"] {
  color: #45525b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin-right: 1.6rem;
  text-align: center;
}
.subtitle {
  font-size: 1.4rem;
  color: #ff8a63;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.4rem;
}
.secondary-title {
  font-size: 4.8rem;
  line-height: 1.1;
  max-width: 49.1rem;
}
.tertiary-title {
  line-height: 1.1;
  font-size: 3.6rem;
  margin-bottom: 1.3rem;
}
.title-description {
  color: #6f7278;
  font-size: 1.7rem;
  max-width: 56rem;
  line-height: 1.4;
}
.title-description:not(:last-child) {
  margin-bottom: 2rem;
}
.author-box {
  display: flex;
  align-items: center;
}
.author-box:not(:last-child) {
  margin-bottom: 1.6rem;
}
.photo {
  margin-right: 0.8rem;
}
.photo img {
  width: 100%;
}

.name {
  font-size: 1.6rem;
  color: #45525b;
  margin-bottom: 0.5rem;
}
.job {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #6f7278;
  letter-spacing: 2px;
}
.more-link:link,
.more-link:visited {
  display: inline-block;
  color: #45525b;
  font-size: 1.5rem;
  border-bottom: 1px solid #45525b00;
  transition: all 0.3s;
}
.more-link:hover,
.more-link:active {
  border-bottom: 1px solid #45525b;
}
.mobile-menu,
.mobile-close-menu {
  margin-left: auto;
  z-index: 10001;
  display: none;
  align-self: center;
  width: 3.7rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.mobile-menu::after,
.mobile-menu::before {
  position: absolute;
  content: "";
  width: 3.7rem;
  height: 2px;
  background-color: #45525b;
  transition: all 0.3s;
}
.mobile-close-menu {
  transform: translateY(-30%);
}
.mobile-menu::before {
  bottom: 0;
}
.mobile-close-menu::after {
  transform: rotate(45deg);
  bottom: 0;
}
.mobile-close-menu::before {
  transform: rotate(-45deg);
}
