@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* global reset */
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  list-style: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  line-height: 1;
}

/* Default tweaks */
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 1.8rem;
}

[class*="__container"] {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem 0 1.6rem;
}
[class*="__section"] {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

[class*="__title"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  margin-right: 1.6rem;
}
[class*="__center-title"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin-right: 1.6rem;
  text-align: center;
}
.subtitle {
  font-size: 1.4rem;
  color: #ff8a63;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.secondary-title {
  font-size: 4.8rem;
  color: #45525b;
  line-height: 1.1;
  max-width: 49.1rem;
}
.tertiary-title {
  font-size: 3.6rem;
  margin-bottom: 1.3rem;
}
.title-description {
  color: #6f7278;
  max-width: 56rem;
  line-height: 1.1;
}
.title-description:not(:last-child) {
  margin-bottom: 2rem;
}
.author-box {
  display: flex;
  align-items: center;
}
.photo {
  margin-right: 0.8rem;
}
.photo img {
  width: 100%;
}

.name {
  font-size: 1.6rem;
  color: #45525b;
  margin-bottom: 0.5rem;
}
.job {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #6f7278;
  letter-spacing: 2px;
}
.more-link:link,
.more-link:visited {
  color: #45525b;
  font-size: 1.5rem;
  border-bottom: 1px solid #45525b00;
  transition: all 0.3s;
}
.more-link:hover,
.more-link:active {
  border-bottom: 1px solid #45525b;
}
