@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
}
@media (max-width: 69em) {
  [class*="__title"] {
    text-align: center;
  }
  [class*="title__container"] {
    display: flex;
    justify-content: center;
  }
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .listing:nth-child(1),
  .listing:nth-child(3),
  .listing:nth-child(5) {
    justify-self: end;
  }
  .listing:nth-child(2),
  .listing:nth-child(4),
  .listing:nth-child(6) {
    justify-self: start;
  }
  .news:nth-child(1) {
    justify-self: end;
  }
  .news:nth-child(2) {
    justify-self: start;
  }
  .news:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .grid-2-cols {
    grid-template-columns: 1fr;
  }
  .goal__content,
  .goal__title {
    justify-self: center;
  }
  .goal__title {
    margin-bottom: 2rem;
  }
  .mobile-nav .close {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    pointer-events: 0;
    visibility: none;
    right: -100%;
    transition: all 0.5s ease-in;
  }
  .mobile-nav .open {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.894);
    right: 0;
    transition: all 0.5s ease-out;
  }
  .mobile-nav .nav-box ul {
    flex-direction: column;
    gap: 5rem;
  }
  .mobile-nav .nav-box ul li a {
    font-size: 3.8rem;
  }
  .mobile-menu {
    display: block;
  }
  .goal__container .author-box {
    align-items: center;
    justify-content: center;
  }
  .people__container {
    grid-template-columns: 1fr;
  }
  .people__title {
    justify-self: center;
  }
  .footer-navigation__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .foo-element {
    margin-bottom: 2rem;
  }
  .subscribe-column {
    grid-column: span 3;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 46%;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
  }
  .listing {
    justify-self: center !important;
  }
  .testimonial {
    flex-basis: 100%;
  }
  .news {
    grid-column: 1 !important;
    justify-self: center !important;
  }
  .social-network {
    margin-bottom: 1rem;
  }
  .people-content {
    flex-direction: column;
  }
  .author-box {
    justify-content: center;
  }
  .information {
    width: 20rem;
  }
  .testimonials-button__container {
    margin-top: 2rem;
  }
  .requirements__content {
    grid-template-columns: 1fr;
  }
  .requirements {
    justify-self: center;
  }
}
