/* HEADER */
.header__container {
  display: flex;
  padding: 1rem 1.6rem;
}
.logo-box {
  display: flex;
  max-width: 10.2rem;
}
.logo-box a img {
  width: 100%;
}
.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.nav-box ul {
  display: flex;
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 3rem;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #444;
  border-bottom: 1px solid rgba(68, 68, 68, 0);
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active {
  border-bottom: 1px solid #444;
}

/* HERO SECTION */
.hero__section {
  background-image: linear-gradient(
      rgba(250, 250, 252, 0.78),
      rgba(250, 250, 252, 0.78)
    ),
    url(../img/main-img.png);
  background-size: cover;
  background-position: top;
  padding: 0;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo {
  margin-top: 24.5rem;
  margin-bottom: 2rem;
}

.main-title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.2;
  max-width: 52rem;
  color: #45525b;
  margin-bottom: 15rem;
}
.hero-button {
  margin-bottom: 6rem;
}
.hero-link:link,
.hero-link:visited {
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100px;
  border: 2px solid #444;
  transition: all 0.3s;
}
.hero-link:hover,
.hero-link:active {
  border: 2px solid #ff8a63;
}
.hero-link img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* GOAL SECTION */
.goal__section {
  background-color: #fafafc;
}

.goal__content {
  max-width: 57.6rem;
}
.goal-text {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.goal-text:first-child {
  margin-bottom: 0.6rem;
}
/*requirements section*/
.requirements__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.requirements__center-title {
  margin-bottom: 3rem;
}
.requirements__content {
  grid-template-columns: repeat(5, 1fr);
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}
.requirements-img {
  grid-column: span 3;
}
.requirements-img img {
  width: 100%;
}
.requirements {
  grid-column: span 2;
}
.requirement {
  max-width: 30rem;
  padding: 2.1rem;
}
.requirement:not(:last-child) {
  margin-bottom: 2rem;
}
.requirement:first-child {
  background-color: #fafafc;
  box-shadow: inset 0 0 0 0.1rem rgba(202, 204, 209, 0.2);
  border-radius: 1rem;
}
.requirement-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #45525b;
  margin-bottom: 1rem;
}

.requirement-title {
  color: #45525b;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-bottom: 0.8rem;
}
.requirement-text {
  max-width: 25.8rem;
  color: #6f7278;
  font-size: 1.4rem;
  line-height: 1.4;
}
/* house section */
.house__section {
  text-align: center;
  padding: 0;
}
.house__section img {
  width: 100%;
  max-width: 144rem;
}
/* Listings section */
.listing__section {
  background-color: #fafafc;
}
.listings__container {
  row-gap: 2rem;
  column-gap: 1.6rem;
  margin-bottom: 2rem;
}
.listings__title {
  margin-bottom: 3rem;
}
.listing-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.6rem;
  max-width: 37.9rem;
}
.listing-img {
  width: 100%;
}
.listing-type {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #6f7278;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.listing-address {
  text-align: center;
  font-size: 2rem;
  color: #45525b;
  margin-bottom: 1rem;
}
.listing-features {
  display: flex;
}
.feature {
  display: flex;
  color: #45525b;
  font-size: 1.2rem;
  align-items: center;
}
.feature:not(:last-child) {
  margin-right: 1.6rem;
}
.feature-icon {
  margin-right: 0.8rem;
}
.listing {
  cursor: pointer;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  max-width: 37.9rem;
  overflow: hidden;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.4s;
  box-shadow: rgba(99, 99, 99, 0.02) 0px 1px 8px 10px;
}
.listing:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(99, 99, 99, 0.02) 0px 1px 8px 0px;
}
.listings-more__container {
  text-align: center;
}
/* People section */
.people__container {
  grid-template-columns: 1fr 2fr;
  gap: 6.4rem;
}
.people__title {
  width: 100%;
  max-width: 36.8rem;
}
.people-content {
  display: flex;
  gap: 1.6rem;
}
.people-column {
  width: 100%;
}
/* Newsroom section */
.newsroom__section {
  background-color: #fafafa;
}
.newsroom-tittle__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.newsroom__container {
  gap: 2rem;
  margin-bottom: 2rem;
}

.news {
  cursor: pointer;
  max-width: 37.5rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.02) 0px 1px 8px 10px;
  transition: all 0.4s;
}
.news:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(99, 99, 99, 0.02) 0px 1px 8px 0px;
}
.news-img img {
  width: 100%;
}
.news-content {
  padding: 3rem;
}
.news-subtitle {
  font-size: 1.2rem;
  color: #ff8a63;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.news-title {
  font-size: 1.6rem;
  color: #45525b;
  line-height: 1.2;
  height: 3.9rem;
  margin-bottom: 1rem;
}
.news-date {
  font-size: 1.3rem;
  color: #6f7278;
}
.newsroom-more__container {
  text-align: center;
}
/* Testimonials section */

.testimonial-slider {
  display: flex;
  align-items: flex-start;
  transition: all 0.5s;
}
.testimonial {
  flex: 0 0 50%;
  padding: 3.1rem;
  border-radius: 1rem;
  transition: all 0.5s;
  box-shadow: inset 0 0 0 0.1rem rgba(202, 204, 209, 0.2);
  border: 1px solid rgba(202, 204, 209, 0.2);
}
.testimonial:not(:last-child) {
  margin-right: 2rem;
}
.testimonial-rating {
  margin-bottom: 0.8rem;
}

.testimonial-title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.testimonial-author {
  color: #45525b;
  position: relative;
  margin-left: 1rem;
}
.testimonial-author::before {
  position: absolute;
  content: "";
  background-color: #ff8a63;
  width: 2px;
  height: 2.4rem;
  transform: translateX(-1rem);
}
.testimonials-button__container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52503b;
  background-color: #fff;
  border: 2px solid #52503b;
  width: 6rem;
  height: 6rem;
  font-size: 4.8rem;
  border-radius: 100%;
  cursor: pointer;
}
.btn-slide:active {
  background-color: #c7c7c7;
}
/* CTA Section */
.cta__section {
  background-color: #45525b;
}
.cta-tittle__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__center-title {
  color: #fff;
  margin-bottom: 2rem;
}
.cta-tittle__container .subtitle,
.cta-tittle__container .title-description {
  color: #fff;
}

.cta-link:link,
.cta-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #45525b;
  background-color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 0.4rem;
  transition: all 0.3s;
}
.cta-link:hover,
.cta-link:active {
  background-color: #45525b;
  color: #fff;
  box-shadow: inset 0 0 0 0.1rem #fff;
}
.cta-link:not(:last-child) {
  margin-right: 2rem;
}
/* Footer */
.footer__section {
  background-color: #292c32;
}
.footer-logo__container {
  text-align: center;
  margin-bottom: 7.5rem;
}
.footer-navigation__container {
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2.8rem;
}

.foo-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.foo-element:not(:last-child) {
  margin-bottom: 1rem;
}
.foo-link:link,
.foo-link:visited {
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.foo-link:hover,
.foo-link:active {
  border-bottom: 1px solid #fff;
}
.foo-title {
  font-size: 1.4rem;
  color: #ff8a63;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.subscribe-column {
  grid-column: span 2;
}
.subsctibe-title {
  margin-bottom: 1rem;
}
.subsctibe-title .title-description {
  color: #fff;
  font-size: 1.6rem;
}
.subscribe-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 5.3rem;
  border-radius: 1rem;
}
.input-field {
  background-color: #fafafc00;
  border: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  margin-left: 3.4rem;
}
.input-field:focus {
  box-shadow: none;
}
.submit-btn {
  margin-left: auto;
  margin-right: 1.5rem;
  border: none;
  padding: 0.8rem;
  background-color: #3a4443;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  cursor: pointer;
}
.submit-btn:active {
  background-color: #fff;
  color: #3a4443;
}
.footer-copyright__container {
  display: flex;
}
.copyrights {
  font-size: 1.6rem;
  color: #fff;
}
.social-networks {
  margin-left: auto;
}
.social-network:not(:last-child) {
  margin-right: 2rem;
}
